{% extends "admin/change_form.html" %}

{% load staticfiles %}

{% block extrahead %}
    <script src="{% static "openhelpdesk/js/lib/tiny_mce/tiny_mce.js" %}" type="text/javascript"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="{% static "openhelpdesk/js/openhelpdesk.js" %}" type="text/javascript"></script>
    <script>
        django.jQuery(function ($) {
            helpdeskGetObjectTools($);
            {% if object_id %}helpdeskInit($);{% endif %}
        });

        window.__helpdeskStaticAppPath = "{% static "openhelpdesk/js" %}";
    </script>
    {{ block.super }}
    <script src="//code.jquery.com/jquery-1.9.0.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="{% static "openhelpdesk/css/jquery-ui/jquery-ui.theme.min.css" %}">
    <link rel="stylesheet" href="{% static "openhelpdesk/css/openhelpdesk.css" %}">
{% endblock %}