*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
*.cache
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib/*
lib64
.cache

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
htmlcov/

# Config files
.coveralls.yml

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.idea
.DS_Store

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build

# Database
*.db
:memory:
