include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
recursive-include openhelpdesk *.html *.png *.gif *js *.css *jpg *jpeg *svg *py
recursive-include openhelpdesk/static *
recursive-include openhelpdesk/templates *