include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
recursive-include requirements *.txt
recursive-include openhelpdesk *.html *.png *.gif *js *.css *jpg *jpeg *svg *py *.mo *.po
recursive-include openhelpdesk/static *
recursive-include openhelpdesk/templates *