{% extends "base.html" %}
{% load mezzanine_tags keyword_tags %}

{% comment %}CUSTOMIZATION{% endcomment %}
{% block meta_title %}{% if title %}{{ title }}{% else %}{{ page.meta_title }}{% endif %}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% comment %}CUSTOMIZATION{% endcomment %}
<div class="page-header">
    <h2>{% if title %}{{ title }}{% else %}{% editable page.title %}{{ page.title }}{% endeditable %}{% endif %}</h2>
</div>
{% endblock %}

{% block main %}
{% endblock %}
