{% overextends "admin/change_form.html" %}

{% load staticfiles %}

{% block extrahead %}
    {{ block.super }}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.js" type="text/javascript"></script>
    {% include 'autocomplete_light/static.html' %}
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="{% static "helpdesk/jquery-ui/jquery-ui.theme.min.css" %}">
    <script src="{% static "helpdesk/jquery-ui/jquery-ui.min.js" %}" type="text/javascript"></script>
    <script src="{% static "helpdesk/js/jquery-ui/i18n/datepicker-it.js"%}"></script>
    <script src="{% static "helpdesk/js/helpdesk.js" %}" type="text/javascript"></script>
{% endblock %}