{% overextends "admin/change_form.html" %}

{% block extrahead %}
    {{ block.super }}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.js" type="text/javascript"></script>
    {% include 'autocomplete_light/static.html' %}
{% endblock %}

{% block after_field_sets %}
    {% if object_id %}
    <fieldset class="module aligned {{ fieldset.classes }}">
        <div class="form-row">bla bla</div>
        <div class="form-row">bla bla</div>
    </fieldset>
    {% endif %}
{% endblock %}
{% block after_related_objects %}
    ####
{% endblock %}