{% overextends "admin/helpdesk/change_form.html" %}

{% load helpdesk_tags i18n %}


{% block after_field_sets %}
    {% if ticket_messages %}
    <fieldset id="ticket_messages" class="module aligned">
        {% for ticket_message in ticket_messages %}
            {% format_ticket_message ticket_message %}
        {% endfor %}
    </fieldset>
    {% endif %}
{% endblock %}

{% block after_related_objects %}****{% endblock %}


{% block object-tools %}
{% if change %}
{% if not is_popup %}
<ul class="object-tools"><li><a href="history/">{% trans "History" %}</a></li>
    {% if has_absolute_url %}<li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="focus" target="_blank">{% trans "View on site" %}</a></li>{% endif%}
    <li><a href="history/">Add</a></li>
</ul>
{% endif %}
{% endif %}
{% endblock %}