{% extends "openhelpdesk/email/email_base.html" %}
{% load i18n %}

{# Translators: Header of email sends on notify message from requester to operator  #}
{% block content_header %}
{% blocktrans with message_verbose_name=message_verbose_name|lower ticket_id=ticket_id message_from_email=message_from_email%}
You have new {{ message_verbose_name }} for ticket {{ ticket_id }} by {{ message_from_email }}
{% endblocktrans %}
{% endblock %}

{% block body %}
<div>
    <p><b>{% trans "Ticket Id" %}</b>: <a href="{{ ticket_url }}">{{ ticket_id }}</a></p>
    <p><b>{% trans "Sent from" %}</b>: {{ message_from }}, {{ message_from_email }}</p>
</div>
<div style="clear: left; border-top: 1px solid lightblue; padding-top: 5px;">
    <div style="float: left;"><b>{% trans "Content" %}</b>:</div>
    <div style="float: left; padding:0; margin:0 0 10px 20px;">{{ content|safe }}</div>
</div>
<div style="clear: left; border-top: 1px solid lightblue; margin-bottom: 20px;">
<p>{% trans "Use the link below to view the message" %}:</p>
<p><a href="{{ message_url }}">{{ message_url }}</a></p>
</div>
{% endblock %}