django==1.9.11
mezzanine==4.1.0
psycopg2==2.6.2
django-model-utils==2.5
django-braces==1.8.1
django-autocomplete-light==3.0.4
django_waffle==0.11
requests==2.1.0
beautifulsoup4==4.4.1
html5lib==0.9999999
requests-oauthlib==0.4
bleach==1.4
pytz==2016.7
celery==3.1.23
django_celery_email==1.1.4