django>=1.10.8,<1.11.0
mezzanine==4.2.3
psycopg2-binary==2.8.3
django-model-utils==2.6.1
django-braces==1.12.0
django-autocomplete-light==3.0.4
django_waffle==0.11
celery==4.0.2
django_celery_email==1.1.5
django_tinymce==2.4.0
django-contrib-comments==1.8.0
